# Nifty configuration file.
#
# Each section lists parameters required by a pipeline step.

manualMode = False
over = False
oneDExtraction = True
extractionXC = 15.0
extractionYC = 33.0
extractionRadius = 2.5
scienceDirectoryList = []
telluricDirectoryList = []
calibrationDirectoryList = []

[nifsPipelineConfig]
sort = False
calibrationReduction = False
telluricReduction = False
scienceReduction = False
telluricCorrection = False
merge = True

[sortConfig]
rawPath = ''
program = ''
skyThreshold = 2.0
sortTellurics = True
telluricTimeThreshold = 5400

[calibrationReductionConfig]
baselineCalibrationStart = 1
baselineCalibrationStop = 4

[telluricReductionConfig]
telStart = 1
telStop = 6
telluricSkySubtraction = True

[scienceReductionConfig]
sciStart = 1
sciStop = 6
scienceSkySubtraction = True

[telluricCorrectionConfig]
telluricCorrectionStart = 1
telluricCorrectionStop = 8
hLineMethod = 'vega'
hLineInter = False
continuumInter = False
telluricInter = False
tempInter = False
standardStarSpecTemperature = ''
standardStarMagnitude = ''
standardStarRA = ''
standardStarDec = ''
standardStarBand = ''

[fluxCalbrationConfig]
fluxCalibrationStart = 1
fluxCalibrationStop = 3

[mergeConfig]
mergeUncorrectedCubes = True
mergeTelluricCorrectedCubes = True
mergeTelCorAndFluxCalibratedCubes = True
use_pq_offsets = True
im3dtran = True

# Good luck with your Science!
