# Nifty configuration file.
#
# Each section lists parameters required by a pipeline step.

manualMode = False
over = False
extractionXC = 15.0
extractionYC = 33.0
extractionRadius = 2.5
scienceOneDExtraction = True
scienceDirectoryList = []
telluricDirectoryList = []
calibrationDirectoryList = []

[nifsPipelineConfig]
sort = True
calibrationReduction = True
telluricReduction = True
scienceReduction = True
telluricCorrection = True
fluxCalibration = True
merge = True
telluricCorrectionMethod = 'gnirs'
fluxCalibrationMethod = 'gnirs'
mergeMethod = ''

[sortConfig]
rawPath = ''
program = ''
proprietaryCookie = ''
skyThreshold = 2.0
sortTellurics = True
telluricTimeThreshold = 5400

[calibrationReductionConfig]
baselineCalibrationStart = 1
baselineCalibrationStop = 4

[telluricReductionConfig]
telStart = 1
telStop = 5
telluricSkySubtraction = True

[scienceReductionConfig]
sciStart = 1
sciStop = 5
scienceSkySubtraction = True

[telluricCorrectionConfig]
telluricCorrectionStart = 1
telluricCorrectionStop = 9
hLineMethod = 'vega'
hLineInter = False
continuumInter = False
telluricInter = False
tempInter = False
standardStarSpecTemperature = ''
standardStarMagnitude = ''
standardStarRA = ''
standardStarDec = ''
standardStarBand = ''

[fluxCalbrationConfig]
fluxCalibrationStart = 1
fluxCalibrationStop = 6

[mergeConfig]
mergeStart = 1
mergeStop = 3
mergeType = 'median'
use_pq_offsets = True
im3dtran = True

# Good luck with your Science!
